{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}

<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
<div class="banner" style="background-image:url({{ content.banner }})">
  <div class="row">
    <div class="column">
      <div class="banner__title">
        <span>{{ content.actividad }}</span>
        <h2>{{ label }}</h2>
        <p>{{ content.field_subtitulo }}</p>
        <a href="#main-content__text" class="banner__down js-scroll"><i class="fa fa-angle-down"
                                                                        aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <a href="https://commons.wikimedia.org/wiki/File:Mural_TTIP_Val%C3%A8ncia_graffiti_-_5.jpeg"
     class="banner__credits">Coentor/Wikimedia commons</a>
</div>

<div class="layout-content row" id="main-content__text">
  <div class="column">
    <div class="row content__intro">
      <div class="column">
        {{ content.tabs }}

        <h3> {{ content.field_fecha }} {{ content.field_lugar }}</h3>

        <p>{{ content.field_tipo_de_acto }}</p>

      </div>
    </div>
  </div>

  <aside class="column large-10 large-push-14 content__right">
    <div class="row people">
      {{ content.field_ponentes }}
    </div>
    <div class="row where-when">
      <div class="column">

        <a class="button secondary"><i class="fa fa-map-marker" aria-hidden="true"></i> Cómo llegar</a>
        <a class="button js-show-follow-us"><i class="fa fa-bell-o" aria-hidden="true"></i> Recuérdamelo</a>
      </div>
    </div>
  </aside>


  <div class="column large-14 large-pull-10">
    {{ content.body }}

  </div>

</div>{# /.layout-content #}

<div class="help-sharing">
  <div class="row">
    <div class="column medium-9 large-6">
      <h3 class="help-sharing__title">Ayúdanos a difundir esta actividad</h3>
    </div>
    <div class="column medium-15 large-18">
      <div class="row help-sharing__links">
        <div class="column small-8 large-12"><a target="_blank" class="help-sharing__link" href="https://www.facebook.com/sharer/sharer.php?u={{ base_url }}/node/{{ node.id }}">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <span class="show-for-large">Compártelo en Facebook</span>
          </a></div>
        <div class="column small-8 large-12"><a target="_blank" class="help-sharing__link" href="https://www.twitter.com/home?status=@Ateneomolina%20organiza:%20{{ content.field_tipo_de_actividad[0]['#title'] }},%20{{ title }}%20{{ base_url }}/node/{{ node.id }}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <span class="show-for-large">Difúndelo con un tuit </span>
          </a></div>
        <div class="column small-8 hide-for-large"><a class="help-sharing__link">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a></div>
      </div>
    </div>
  </div>
</div>
<div class="extra-links">
  <div class="row">
    <div class="column extra-links__intro">
      {{ content.field_enlaces_intro }}
    </div>
  </div>
  <div class="row">
    <div class="extra-links-list">
      {{ content.field_enlaces }}
    </div>
  </div>
</div>



